@font-face {
  font-family: 'iconfont';  /* Project id 1973738 */
  src: url('//at.alicdn.com/t/font_1973738_jf5ishinnam.woff2?t=1625716248005') format('woff2'),
       url('//at.alicdn.com/t/font_1973738_jf5ishinnam.woff?t=1625716248005') format('woff'),
       url('//at.alicdn.com/t/font_1973738_jf5ishinnam.ttf?t=1625716248005') format('truetype');
}

.iconfont {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
